<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tone Analyzer Boilerplate</title>

  <!-- Importing the stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="components/materialize/dist/css/materialize.min.css" media="screen,projection">
  <link rel="stylesheet" href="css/style.css">

</head>
<body ng-app="myApp" ng-controller="toneAnalyzerCtrl">
  <section>
    <nav class="blue darken-3">
      <div class="nav-wrapper">
        <a class="brand-logo" href="#!">Tone Analyzer</a>
        <a class="button-collapse" data-activates="mobile-demo" href="#"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="http://fel-siqueira.github.io" target="_blank">Know me</a></li>
          <li><a href="http://www.ibm.com/watson/" target="_blank">IBM Watson</a></li>
          <li><a href="https://github.com/watson-developer-cloud/node-sdk#tone-analyzer" target="_blank">API Reference</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="http://fel-siqueira.github.io" target="_blank">Know me</a></li>
          <li><a href="http://www.ibm.com/watson/" target="_blank">IBM Watson</a></li>
          <li><a href="https://github.com/watson-developer-cloud/node-sdk#tone-analyzer" target="_blank">API Reference</a></li>
        </ul>
      </div>
    </nav>  
    <div class="container analyzer-input">
      <div class="row">
        <form class="col s12" action="">
          <div class="row">
            <div class="center-align input-field col s12">
              <textarea id="texto" class="textanalyze" ng-model="texto"></textarea>
              <label for="texto">Input a text to analyze</label>
              <button type="button" class="black-text light-green accent-4 btn waves-effect waves-light" 
                ng-click="postText()">Analyze
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section>
    <div class="center-align container results">
      <h4>Results</h4>
      <canvas id="resultsChart"></canvas>
    </div>
  </section>
  <!-- Importing every script! -->
  <script src="components/angular/angular.min.js"></script>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/materialize/dist/js/materialize.min.js"></script>
  <script src="js/style/script.js"></script>
  <script src="js/angular/app.js"></script>
  <script src="js/angular/controllers/toneAnalyzerCtrl.js"></script>
  <script src="components/chart.js/dist/Chart.min.js"></script>
  <script src="js/charts/resultsChart.js"></script>
</body>
</html>
